* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;

}

#container3D {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5E605A;
  }


.content {
    margin: 0 auto;
    max-width: fit-content;
    height: var(--dynamic-height);
}

.arrow {
    position: absolute;
    animation: bounce .5s infinite alternate-reverse;
    margin-bottom: 5px;
    font-size: x-large;
    cursor: pointer;
    bottom: 0;
    z-index: 1;
}

.arrow:hover {
    background-color: initial;
}

@keyframes bounce {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -5px);
    }

}

.about-us {
    background-color: #5E605A;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding-top: 80px;
    text-align: center;
}

.info a {
    background-color: #433A3F;
    color: #FFF;
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.info a:hover {
    background-color: #3c3439;
}

.divider {
    background-color: #433A3F;
    height: 1px;
    margin-top: 80px;
    width: 80%;
}

.contact-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
    text-align: center;
}

.contactus-info {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 auto;
    align-items: center;
}


.contactus-img {
    padding-top: 80px;
    display: flex;
    height: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.email {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #5E605A;
    padding: 0;
    color: black;
}

.email:hover {
    background-color: #5E605A;
}

@media (max-width: 600px) {
    p {
        width: 100%;
    }

    .contactus-img {
        width: 100%;
        overflow: hidden;
    }

    .content>h1 {
        position: absolute;
        margin: 5px;
        max-width: 80%;
        left: 5px;
    }

    .content > .arrow {
        position: absolute;
        bottom: 5px;
    }
}