.moreInfo {
    width: 100%;
    max-width: 800px;
    background-color: #5E605A;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
}

.moreInfo>h2 {
    margin-left: 10px;
}

.moreInfo-Struct {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 10px;
}

.moreInfo-Struct>div {
    margin-left: 10px;
}

.nameStruct {
    text-decoration: underline;
    font-size: 25px;
}

.moreInfo-Struct>img {
    display: block;
    height: auto;
    max-height: 250px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 1rem auto;
    padding: 5px;
}

@media (max-width: 600px) {
    .moreInfo-Struct{
        flex-direction: column;
    }

    .moreInfo{
        height: fit-content;
    }

    .moreInfo h2, .moreInfo h3{
        text-align: center;
        margin-left: 0;
    }
}