body {
    background-color: #D4D4D2;
}

.research {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
}

.research-panel {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

.research-panel:hover{
    box-shadow: 0px 7px 13px -7px #000000;
}

.research-content {
    display: flex;
    flex-direction: row;
    max-height: 225px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.research-content.open {
    max-height: 750px;
}

.research-info {
    margin-right: 50px;
}

.research-title{
    font-size: x-large;
    margin-bottom: 0px;

}

.imgStruct {
    display: flex;
    margin-top: 20px;
    height: 200px;
    width: 200px;
    margin-right: 16px;
}


@media (max-width: 1079px) {

    .imgStruct {
        margin-right: 0;
    }



    .research {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .research-panel {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .research-card,
    .research-info {
        margin: 0;
        width: 90%;
        text-align: center;
    }

}