body {
    background-color: #D4D4D2;
}

.research {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
}

.research-panel {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

.research-panel:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.research-content {
    display: flex;
    flex-direction: row;
    max-height: 225px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.researchTitle-struct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.research-content.open {
    max-height: 1250px;
}

.research-info {
    margin-right: 50px;
}

.research-title {
    font-size: x-large;
    margin-bottom: 0px;

}

.imgStruct {
    display: flex;
    margin-top: 20px;
    height: 200px;
    width: 200px;
    margin-right: 16px;
}

.chevron {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg);
    transition: transform 0.3s ease-out;
    padding-right: 8px;
}


.chevron.down {
    transform: rotate(45deg);
}


@media (max-width: 1079px) {

    .imgStruct {
        margin-right: 0;
    }

    .research-info>h2 {
        text-align: center;
    }

    .research {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .research-content {
        flex-direction: column;
        align-items: center;
    }

    .research-card,
    .research-info {
        margin: 0;
        width: 90%;
    }

    .research-panel>h3 {
        text-align: center;
    }

}