.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem 30px;
    align-items: stretch;
}

.person-info img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 250px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 1rem auto;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.person-info {
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: #5E605A;
    border-radius: 5px;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

.person-info:hover{
    box-shadow: 0px 7px 13px -7px #000000;
    cursor: pointer;
    img{
        padding: 0;
    }
}

.team-title {
    display: flex;
    width: 100%;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.labAlumbi-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.labAlumbi-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.labAlumbi-info>p,
.labAlumbi-info>h4 {
    margin-bottom: 0px;
    line-height: initial;
    width: fit-content;
    font-size: medium !important;
    margin-bottom: 1rem;
}

.more-overlay{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 20;
}

.more-overlay.visible {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(2px);
    
}


@media (max-width: 1079px) {
    .team-title {
        padding-top: 30px;
    }
    body.no-scroll{
        overflow: hidden;
    }
}