*{
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #757575;
    margin-bottom: 40px;
    font-size: 3rem;
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
}


p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.6;
}